@import 'styles/variables';

.Filters {
  display: flex;
  gap: 20px;
}

.Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.Input {
  margin-left: 12px;

  @media (max-width: $mobile) {
    width: 100%;
  }
}
