@import 'styles/variables';

.ButtonDelete {
  @media (max-width: $mobile) {
    padding: 6px;
    line-height: 1.2;
  }
}
.ButtonShowDetail {
  @media (max-width: $mobile) {
    padding: 6px;
    line-height: 1.2;
  }
}
